<div class="profile-container">
    <h1>Profile</h1>
  @if(!isEditMode) {
  <div class="profile-details">
    <p><strong>Username:</strong> {{ profileDetails.username }}</p>
    <p><strong>Email:</strong> {{ profileDetails.email }}</p>
    <button (click)="toggleEditMode()">Edit</button>
  </div>
  } @else {
  <form #form="ngForm" (ngSubmit)="handleSaveProfile(form)">
    <div class="form-container">
      <div class="inputCont">
        <label for="username"><b>Username:</b></label>
        <input
          type="text"
          id="username"
          name="username"
          ngModel
          required
          minlength="2"
          [(ngModel)]="profileDetails.username"
        />
      </div>
      <div class="inputCont">
        <label for="email"><b>Email:</b></label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          [(ngModel)]="profileDetails.email"
        />
      </div>
      <div class="btn-wrapper">
        <button type="button" (click)="onCancel($event, form)">Cancel</button>
        <button [disabled]="form.invalid">Save</button>
      </div>
    </div>
  </form>
  }
</div>
