<form #form="ngForm" (ngSubmit)="register(form)">
  <div class="form-container">
    <h1>Register</h1>

    <label for="username"><b>Username:</b></label>
    <input
      type="text"
      placeholder="your username"
      name="username"
      id="username"
      ngModel
      #inputUsername="ngModel"
      required
    />

    <label for="email"><b>Email:</b></label>
    <input
      type="text"
      placeholder="your.mail@gmail.com"
      name="email"
      id="email"
      ngModel
      #inputEmail="ngModel"
      required
      [appEmail]="domains"
    />

    <label for="pass"><b>Password:</b></label>
    <input
      type="password"
      placeholder="*******"
      name="pass"
      id="pass"
      ngModel
      #inputPass="ngModel"
      minlength="4"
      required
    />

    <label for="rePass"><b>Repeat password:</b></label>
    <input
      type="password"
      placeholder="*******"
      name="rePass"
      id="rePass"
      ngModel
      #inputRePass="ngModel"
      minlength="4"
      required
    />

    <button [disabled]="form.invalid" class="registerbtn">Register</button>
  </div>
  <div class="login">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</form>
