body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0px;
  position: relative;
  background-color: #fdecef;
}
body,
input {
  font-size: 16px;
}

button,
button:disabled:hover {
  background-color: #612940;
  color: #fdecef;
  font-size: 1.2em;
  font-weight: bold;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  align-self: center;
  border-radius: 10px;
}

button:hover {
  background-color: #9d6381;
}
button:disabled {
  opacity: 0.5;
}

a {
  color: #612940;
}

.form-container {
  padding: 10px;
  background-color: white;
  border: #cecccc solid;
  border-radius: 15px;
}
p.error {
  color: #612940;
  margin: 6px;
}

.inputCont {
  margin: 6px 0 22px 0;
}
input {
  margin: 6px 0;
}
input[type="checkbox"] {
  width: unset;
} 