<header>
  <a routerLink="/home"
    ><img src="./img/logoToWatch.png" class="logo"
  /></a>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/catalog">Catalog</a>
      </li>
      <li>
        <a routerLink="/my-videos">My videos</a>
      </li>
      <li>
        <a routerLink="/create-video">Create video</a>
      </li>
    </ul>
  </nav>
  <ul>
    @if(isLoggedIn){
    <li>
      <a routerLink="/">Hello, {{ username }}!</a>
    </li>
    <li>
      <a (click)="logout()">Logout</a>
    </li>
    } @else {
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/register">Register</a>
    </li>
    }
  </ul>
</header>
