<form #form="ngForm" (ngSubmit)="login(form)">
  <div class="form-container">
    <h1>Login</h1>
    <div class="fields">
      <label for="email"><b>Email:</b></label>
      <input
        type="email"
        placeholder="your.mail@gmail.com"
        name="email"
        id="email"
        ngModel
        #inputEmail="ngModel" 
        [appEmail]="domains"
        required
      />

      <label for="pass"><b>Password:</b></label>
      <input
        type="password"
        placeholder="*******"
        name="pass"
        id="pass"
        ngModel
        #inputPass="ngModel"
        minlength="4"
        required
      />
    </div>
    <button [disabled]="form.invalid" class="loginbtn">Login</button>
  </div>
  <div class="register">
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</form>
