.notification {
  position: fixed;
  z-index: 10;
  left: 300px;
  top: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
  background-color: #b37e99;
}

.error-message {
  background-color: #b37e99;
}

.success-message {
  background-color: rgba(99, 230, 81, 0.699);
}
