<h1>Welcome to our video collection platform ToWatch📹!</h1>
<div>
  <div class="description">
    Here, you can create your personalized collection of videos from different
    websites that you love or want to watch later. Unlike traditional bookmarks
    that can be messy and easy to forget, our site provides a clean and
    organized way to keep track of your favorite content. Our platform allows you to:
  </div>

  <div class="list">
    <ul>
      <li>
        <strong>Create a collection:</strong> Organize videos form any website.
      </li>
      <li>
        <strong>Add Videos:</strong> Easily add videos from different websites.
      </li>
      <li>
        <strong>Watch Later:</strong> Save videos you want to come back to.
      </li>
    </ul>
  </div>
</div>

 <!-- Save videos from any site:
YouTube, Vimeo, TikTok, and many more. Organize and categorize your videos:
Create themed collections based on your interests. Share with friends or keep
them private: Control the visibility of your collections. Access your videos
anywhere: Available on both desktop and mobile devices. Say goodbye to the chaos
of bookmarks and enjoy a single, organized space where your favorite videos are
always at your fingertips. This platform is perfect for anyone who loves
watching videos but wants a better, more organized way to keep track of them. ✨ -->
