<form #form="ngForm" (ngSubmit)="addVideo(form)">
  <div class="form-container">
    <h1>Create video</h1>
    <div class="fields">
      <label for="title"><b>Title:</b></label>
      <input
        type="text"
        name="title"
        id="title"
        ngModel
        #inputTitle="ngModel"
        required
        minlength="2"
      />

      <label><b>Video URL:</b></label>
      <input
        type="text"
        name="videoUrl"
        id="videoUrl"
        ngModel
        #inputVideoUrl="ngModel"
        required
        minlength="10"
      />

      <label><b>Description:</b></label>
      <textarea
        name="description"
        id="description"
        ngModel
        #inputDescription="ngModel"
        required
        minlength="5"
        rows="3"
      ></textarea>

      <label><b>Image URL:</b></label>
      <input
        type="text"
        name="imgUrl"
        id="imgUrl"
        ngModel
        #inputImg="ngModel"
        minlength="10"
      />

      <label><b>Is public:</b></label>
      <input type="checkbox" name="isPublic" id="isPublic" ngModel/>
    </div>
    <button [disabled]="form.invalid">Create</button>
  </div>
</form>
