<form #form="ngForm" (ngSubmit)="updateVideo(form)">
  <div class="form-container">
    <h1>Update video</h1>
    @if(video) {
    <div class="fields">
      <label for="title"><b>Title:</b></label>
      <input
        type="text"
        name="title"
        id="title"
        [(ngModel)]="video.title"
        #inputTitle="ngModel"
        required
        minlength="5"
      />

      <label><b>Video URL:</b></label>
      <input
        type="text"
        name="videoUrl"
        id="videoUrl"
        [(ngModel)]="video.videoUrl"
        #inputVideoUrl="ngModel"
        required
        minlength="10"
      />

      <label><b>Description:</b></label>
      <textarea
        name="description"
        id="description"
        [(ngModel)]="video.description"
        #inputDescription="ngModel"
        required
        minlength="10"
        rows="3"
      ></textarea>

      <label><b>Image URL:</b></label>
      <input
        type="text"
        name="imgUrl"
        id="imgUrl"
        [(ngModel)]="video.imgUrl"
        #inputImg="ngModel"
        minlength="10"
      />

      <label><b>Is public:</b></label>
      <input
        type="checkbox"
        name="isPublic"
        id="isPublic"
        [(ngModel)]="video.isPublic"
      />
    </div>
    <button [disabled]="form.invalid">Update</button>
    }
  </div>
</form>
