.footer {
    background-color: #FFC0CB;
    color: #2B363D;
    display: flex;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
