.footer {
  background-color: #ffc0cb;
  color: #2b363d;
  display: flex;
  width: 100%;
  height: 30px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
