<div class="big-container details-container">
  <h1>Video Details</h1>
  <h2>Title:</h2>
  <p> {{ video.title }}</p>

  <img src="{{ video.imgUrl }}" />
  <h2>Description:</h2>
  <p>{{ video.description }}</p>

  <h2>Created at:</h2>
  <p>{{ video.created_at | date : "dd.mm.yyyy" }}</p>

  <div class="buttons">
    <a href="{{ video.videoUrl }}" class="button" target="_blank"
      >Watch Video</a
    >

    @if(canManipulate()) {
    <a routerLink="/edit/{{ video._id }}" class="button">Edit</a>
    <a (click)="onDelete()" routerLink="/delete/{{ video._id }}" class="button"
      >Delete</a
    >
    }
  </div>
</div>
